extends ../layouts/default

block content
  - var action = '/games'
  if (!game.isNew)
    - action += '/'+game.id

  if (typeof errors !== 'undefined')
    .fade.in.alert.alert-block.alert-error
      a.close(data-dismiss="alert", href="javascript:void(0)") x
      ul
        each error in errors
          li= error.type

  .row
    .col-span-7
      form.form-horizontal(method="post", action=action)
        if (!game.isNew)
          input(type="hidden", name="_method", value="PUT")

        .control-group(data-intro="Chose who you would like to play against", data-position="right")
          label.control-label(for='title') Opponent
          .controls
            select(name="invites", style='width: 100%').multi-select
              each user in users
                option(value=user._id)=user.name

        .control-group(data-intro="Chose which deck you would like to play with", data-position="right")
          label.control-label(for='desc') Deck
          .controls
            select(name="deck", style='width: 100%').multi-select
              for deck in decks
                option(value=deck._id) #{deck.name || 'Unnamed Deck'}
                //option(value="#{deck.versions[deck.versions.length-1]._id}") #{deck.versions[deck.versions.length-1].name || 'Unnamed Deck'} (version #{deck.versions.length})
                //for deckVersion, i in deck.versions
                //  option(value="#{deckVersion._id}") #{deckVersion.name || 'Unnamed Deck'} - version #{i+1}

        .form-actions
          button.btn.btn-primary(type='submit') Save changes
          &nbsp;
          a.btn(href='/games', title="cancel") Cancel
