extends ../layouts/default

block main
  h1= game.title

block content
  .row
    .span9
      p=game.body
      p.author
        span Owner :&nbsp;
        a(href="/users/"+game.owner._id)=game.owner.name
      .date= formatDate(game.createdAt, "%b %d, %Y at %I:%M %p")

    .span3
      p Stuff can also go here

  .row
    for player in game.players
      .span4
        .well.well-small
          h3 #{player.user.name} (#{player.readyState})
          ul
            for card in player.cards
              li #{card}

  p
    br
    form.center.form-inline.confirm(action="/games/" + game._id, method="post")
      a.btn(href='/games/' + game._id + '/edit', title="edit") Edit
      &nbsp;&nbsp;
      input(type="hidden", name="_method", value="DELETE")
      button.btn.btn-danger(type="submit") delete
